<!-- Intro Text -->
<div class="container intro">
 <div class="row">
  <div class="col-sm-10">
    <h2 class="text-color">Multiple colors, responsive video, stunning support and many more!</h2>
    <p class="text-muted">Buying this template now you become eligible to free download all of its future updates, including new pages and neat options. We hope you will enjoy using our template!</p>
  </div>
  <!--<div class="col-sm-2">
    <a href="#" class="btn btn-color btn-lg">Buy Now!</a>
  </div> -->
</div>  

<hr>

<!-- Our Services -->
<div class="row services">
  <div class="col-sm-4">
    <!-- Service Item #1 -->
    <div class="services-item">
      <i class="fa fa-gear fa-2x text-color"></i>
      <div class="services-item-desc">
        <h3 class="primary-font">Research & Insight</h3>
        <p class="text-muted">
          Infrastructure Security Testing for Large Security services Provider...
        </p>
        
        <p class="text-muted">
          Project - Holistic & Continual Security Management...
        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <!-- Service Item #1 -->
    <div class="services-item">
      <i class="fa fa-arrows-alt fa-2x text-color"></i>
      <div class="services-item-desc">
        <h3 class="primary-font">Testimonial</h3>
        <p class="text-muted">
          ...
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <!-- Service Item #1 -->
    <div class="services-item">
      <i class="fa fa-refresh fa-2x text-color"></i>
      <div class="services-item-desc">
        <h3 class="primary-font">News</h3>
        <p class="text-muted">
          Introducing Trainings on Digital crime investigation and Incident Response In Gujarat soon...
        </p>
      </div>
    </div>
  </div>
</div> <!-- / .row -->