<!-- Jumbotron -->
<div class="main-slideshow">
  <div id="main-slideshow" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!-- Slide No 1 -->
      <div class="item active">
        <div class="jumbotron first">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h1 class="animated slideInLeft">Beautiful Theme<br />You Can Tune Yourself</h1>
                <p class="lead animated slideInLeft delay-1">An accurate and clean template for business projects.</p>
                <a class="btn btn-color animated slideInLeft delay-2">Main Action</a>
              </div>
              <!-- <div class="col-sm-6 hidden-xs"> -->
                <!-- <img class="img-responsive" src="img/img2.jpg" alt="..."> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div> 
      <!-- Slide No 2 -->
      <div class="item">
        <div class="jumbotron second">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="text-center animated fadeInDown">Easily Customize For Your Needs</h1>
                <p class="lead text-center animated fadeInDown delay-1">Choose a color scheme for Navbar, Footer and Body.</p>
                <div class="text-center animated fadeInDown delay-2"><a class="btn btn-color pull-center">Main Action</a></div>
                <!-- <img class="img-responsive hidden-xs" src="img/img1.png" alt="..."> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slide No 3 -->
      <div class="item">
        <div class="jumbotron third">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">
                <h1 class="animated slideInLeft">Responsive Video<br />And Stunning Support</h1>
                <p class="lead animated slideInLeft delay-1">We are always open for your questions<br /> and feature requests.</p>
                <a class="btn btn-color animated slideInLeft delay-2">Main Action</a>
              </div>
<!--                     <div class="col-sm-6">
                <div class="video hidden-xs">
                  <div class="flex-video">
                    <iframe src="http://player.vimeo.com/video/67449472" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                  </div>                
                </div>                
              </div>
-->                  </div>
          </div>
        </div>
      </div> <!-- / Slide No 3 -->
    </div>
    <!-- Controls -->
    <a class="slideshow-arrow slideshow-arrow-prev bg-hover-color" href="#main-slideshow" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="slideshow-arrow slideshow-arrow-next bg-hover-color" href="#main-slideshow" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div> <!-- / Slideshow -->