---
title: Home page
published: true
---

<!DOCTYPE html>
<html lang="en">
  {% include 'header' %}

  <body class="body-green">
    {% include navbar %}
    <div class="wrapper">
      {% include slide_header %}
      {% include body %}
      </div> <!-- / .container -->
    </div> <!-- / .wrapper -->

  {% include 'footer' %}    
  {% include 'js' %}

  </body>
</html>